 .cont-ul{list-style: none;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-between;
 margin-top:  7em;

}

 .box_pilcha{
    width: 12.5em;
    max-height: max-content;
    margin: 2em;
    box-shadow: 2px 2px 10px #b3b3b3
    ;border-radius: 6px;
background-color: white;
}

    .box_pilcha:hover{box-shadow: 3px 2px 25px #7e7979;}

.image{width: 100% ;
     flex-wrap: wrap;
    height: 200px ;
border-radius:  6px;}

  
     .datos{display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
margin-top: 2em;}  
 
.name{text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;}
    
        .precio{display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
margin: 3px;}
        
    

 hr{color: rgba(217, 219, 219, 0.932);
    padding:  0px;
width:  100%;
box-sizing: border-box;}

.fa-shopping-cart{border-style: none;
background-color: transparent;
color:greenyellow;
text-shadow: 1px 1px 1px rgb(80, 184, 127);
font-size: 17px;}

.fa-shopping-cart:hover{cursor: pointer;
    text-shadow: 0.7px 0.7px 0.7px #4b4a4a;}

    .fa-shopping-cart:focus{outline-style: none;}

    .fa-trash-can{
        border-style: none;
        font-size: 1em;
        padding: 6px;
    }
    
    .fa-trash-can:hover{
        cursor: pointer;
        color: red;
        text-shadow: 2px 2px 2px  #b3b3b3;
      
    }
.fa-pen-to-square{
    border-style: none;
    list-style-type: none;
    color: black;
    font-size:  1em;
    padding: 6px;
    
}

.fa-pen-to-square:hover{
    cursor: pointer;
    color: blue;
    border-color: beige;
    text-shadow: 2px 2px 2px #dbdadd;
    
}