.contenedor{background-color: rgb(248, 243, 236)
    ;max-width: 100%;
    overflow-x: hidden;}
    
    
    
    .brra-cont{ max-width: 102% ;
        height:7em  ;
        background:linear-gradient(to right , #4169e1b9, #ff4400a1 ) ;
         box-shadow: 1px 1px 8px rgb(141, 139, 139);
        margin-top: -1.3em;
        margin-left: -1em ;
        margin-right: -1em ; }
      
    .logo{max-width: 8em;
        position: absolute;top: -3.3em;
        margin-left: 3em;} 

       
        .sech{float: right;
            display: flex;
            position: relative;top: 3.7em;}
        
            .fa-search , .input{
                border-style: none;
                  height: 30px;
                   }

                   .fa-search{display: flex;
                    flex-wrap: wrap;
                    position: relative;right: 2em;top: 1px;
                    align-items: center;
                background:#f7f6f4;
                color:rgba(36, 37, 37, 0.932);
                text-shadow: 1px 1px 2px rgb(218, 216, 216);
                font-size: 12px;
                cursor: pointer;
                outline-style: none;
                border-radius:  10px 1px 1px 10px;
                
                }
                
                .input{display: flex
                    ;background: #faf8f8;
                outline-style: none;
                box-shadow: 0px 0.1px 0px  #954353;
                color: #1e201f;
                text-shadow: 2px 2px 2px  #9e9fa0;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 10px 1px 1px 10px;}
             

            .fa-search:focus{box-shadow:0px 1px 5px#8b8a8a;} 
            
            .input:focus{box-shadow: 1px 5px 15px  #88878452;}
        
        .fa-search:hover{box-shadow:0px 1px 5px#8b8a8a;}
        
        
        
        .cont-flex{display: flex;
        margin-top: 18em;
        flex-direction: row;
        justify-content: space-evenly; }
        

        @media (max-width: 1385px) {
            
            header{ position: absolute; top: 3.7em}

            .input{max-width: 7em;}

                      
        }
         

        @media(max-width:1160px) {
                     .sech{position: absolute;right: 0em;;}
                     .fa-search, .input{border-radius: 9px 9px 9px 9px;}

                     .input{max-width: 7em;}


               .brra-cont{max-width: 110%;}
                          
            .logo{position: relative;top: -5em;
            font-size: 24px;}

            header{position: absolute;left: 3px;top: 5em;
            height: 1.6em;}

            .hombre,.mujer, .niña , .niño{font-size: 15px;padding: 3px;}

            .homb, .wom, .g, .ch{font-size: 13px;}

            .fa-home{position: relative;left: 1em;
                font-size:  15px;
                 color: rgb(255, 255, 255);
                text-decoration: none;}  
                 
                 .fa-home:hover{color:greenyellow;}
        

            .desp-hom{position: absolute;left: 1em;}
            .desp-muj{position: absolute;left: 8em;}
            .desp-niña{position: absolute;right: 6em ;}

            
        }

        @media(max-width: 600px){
            .slider-1, .slider-2, .slider-3{
                margin-left: -1px;
                margin-right: -1px;
            }

            .fa-search, .input{border-radius: 9px 9px 9px 9px;}

            .input{max-width: 7em;}
        }

    
  

 .cont-ul{list-style: none;
display:flex;
max-width:80% ;
height:60em;
background-color:rgb(255, 255, 255);
margin-left: 10em;
margin-top: 10em;
box-shadow: 0.1px 0.1px 1px 1px #bebdbd;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-between;

}

.img-prod{display: flex;
order: 0;
width: 40em;
height: 40em;
margin-top: 5em;
box-shadow: -0.1px -0.1px 3px 3px #c5c4c4;
border-spacing: 12px;
}


.cho{width: 100% ;
display: flex;
;}

  
     .datos{display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
margin-top: 5em;
box-shadow: -0.1px 1px 2px 3px rgba(92, 89, 89, 0.2);
padding:  2em;
background-color: white;}  
 
.name{text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;}
    
        .precio{display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
margin: 3px;}
        
    

 hr{color: rgba(217, 219, 219, 0.932);
    padding:  0px;
width:  100%;
box-sizing: border-box;}

.fa-shopping-cart{border-style: none;
background-color: transparent;
color:greenyellow;
text-shadow: 1px 1px 1px rgb(80, 184, 127);
font-size: 17px;}

.fa-shopping-cart:hover{cursor: pointer;
    text-shadow: 0.7px 0.7px 0.7px #4b4a4a;}

    .fa-shopping-cart:focus{outline-style: none;}


    footer{max-width: 160%;
        height: 8em;
        background-color: #000000c9;
        margin-top: 14em;
        margin-bottom: -3em;
        margin-left: -1em;
        margin-right: -2em;
        text-align: center;
        border-top-style: solid;
        border-top-color: rgb(241, 102, 10);
        color: cornsilk;}
        
        .fa-twitter-square, .fa-facebook-square, .fa-hashtag{font-size:  30px;
        position: relative;left: 1em;
        top: 5px;
        margin-right: 5px;
        color: white;
        text-decoration: none;}
        
        .sig{font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        
        .der{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}