.contenedor{background-color: rgb(251, 246, 252)
    ;max-width: 100%;
    overflow-x: hidden;}
    
    
    
    .brra-cont{ max-width: 102% ;
        height:7em  ;
        background:linear-gradient(to right , #4169e1b9, #ff4400a1 ) ;
         box-shadow: 1px 1px 8px rgb(141, 139, 139);
        margin-top: -1.3em;
        margin-left: -1em ;
        margin-right: -1em ; }
      
    .logo{max-width: 8em;
        position: absolute;top: -3.3em;
        margin-left: 3em;} 

       
        .sech{float: right;
            display: flex;
            position: relative;top: 3.7em;}
        
            .fa-search , .input{
                border-style: none;
                  height: 30px;
                   }

                   .fa-search{display: flex;
                    flex-wrap: wrap;
                    position: relative;right: 2em;top: 1px;
                    align-items: center;
                background:#f7f6f4;
                color:rgba(36, 37, 37, 0.932);
                text-shadow: 1px 1px 2px rgb(218, 216, 216);
                font-size: 12px;
                cursor: pointer;
                outline-style: none;
                border-radius:  10px 1px 1px 10px;
                
                }
                
                .input{display: flex
                    ;background: #faf8f8;
                outline-style: none;
                box-shadow: 0px 0.1px 0px  #954353;
                color: #1e201f;
                text-shadow: 2px 2px 2px  #9e9fa0;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 10px 1px 1px 10px;}
             

            .fa-search:focus{box-shadow:0px 1px 5px#8b8a8a;} 
            
            .input:focus{box-shadow: 1px 5px 15px  #88878452;}
        
        .fa-search:hover{box-shadow:0px 1px 5px#8b8a8a;}
        
        
        
        .cont-flex{display: flex;
        margin-top: 18em;
        flex-direction: row;
        justify-content: space-evenly; }
        

        @media (max-width: 1385px) {
            
            header{ position: absolute; top: 3.7em}

            .input{max-width: 7em;}

                      
        }
         

        @media(max-width:1160px) {
                     .sech{position: absolute;right: 0em;;}
                     .fa-search, .input{border-radius: 9px 9px 9px 9px;}

                     .input{max-width: 7em;}


               .brra-cont{max-width: 110%;}
                          
            .logo{position: relative;top: -5em;
            font-size: 24px;}

            header{position: absolute;left: 3px;top: 5em;
            height: 1.6em;}

            .hombre,.mujer, .niña , .niño{font-size: 15px;padding: 3px;}

            .homb, .wom, .g, .ch{font-size: 13px;}

            .fa-home{position: relative;left: 1em;
                font-size:  15px;
                 color: rgb(255, 255, 255);
                text-decoration: none;}  
                 
                 .fa-home:hover{color:greenyellow;}
        

            .desp-hom{position: absolute;left: 1em;}
            .desp-muj{position: absolute;left: 8em;}
            .desp-niña{position: absolute;right: 6em ;}

            
        }

        @media(max-width: 600px){
            .slider-1, .slider-2, .slider-3{
                margin-left: -1px;
                margin-right: -1px;
            }

            .fa-search, .input{border-radius: 9px 9px 9px 9px;}

            .input{max-width: 7em;}
        }

    
  

 .content{display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    padding: 2em;
    gap: 1em;
max-width:80% ;
max-height:90%;
margin-left: 10em;
margin-top: 10em;


}

.img-prod{background-color:rgb(255, 255, 255);
    grid-column: 1/ 2;
    grid-row: 1/1;
    box-shadow: 1px 1px 15px 1px rgba(209, 207, 207, 0.87);


}
.contenedor_img{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;;
    gap: 2px;
    height: 100%;

}

.img_cont{display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: 3em;
    
   
    
    
}



.box_img  { 
    max-width: 100em;
    border: solid 1.8px;
    margin-top: 15px;
     
    height: 50px;
}


.image{

    width: 50px;
    height: 50px;
}

.box_color{
    max-width: 100em;
    border: solid 2.8px;
    margin-top: 15px;
    height: 50px;
    border-color:blue ;
    
}

.cont_zoom{
    margin-top: 3em;
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1;   

}

.box_img__zoom{
   
    width: 90%;
height: 90%;    
}

.image_zoom{
    padding-top: 3em;
    max-width: 90%;
    max-height: 60%;
   
}



.datos{display: flex;
    background-color:rgb(255, 255, 255);
        flex-direction: column;
        gap: 1em;
    box-shadow: 1px 1px 15px 1px rgba(209, 207, 207, 0.87);
       padding: 1em;
}  

.con_Stock{display: flex;
    color: rgb(17, 177, 17);}

.sin_Stock{display:none;
    color: red;
}
 
.titulo{text-decoration: none;
    color: rgba(0,0,0,.9);
    font-family:  'Ibarra Real Nova', serif;
    
    font-size:  24px ;
}
    .precio_cuotas{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
        .precio{
            font-size: 36px;
            font-weight: 300;
        }
        
    .cuotas{
        color: rgb(17, 177, 17);
        font-size: 19px;
        
    }

    .cond_Pago{
        color: rgb(71, 71, 248);
        font-size: 13px;
      }

      .box_Envios{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
      }

       .envio{
         
            color: rgb(17, 177, 17);
         }
.polit , .form_Env{
    font-size: 13px;
    color: rgb(71, 71, 248);
}

.comp_add{
    margin-top: 13em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.comprar{
    border-radius: 8px;
    box-shadow: 2px 2px 8px 1px #8b8a8a;
    border-style: none;
    background-color: rgb(17, 177, 34);
    cursor: pointer;
    color: #f7f6f4;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 50%;
    height: 3em;
}

    .add{
        border-radius: 8px;
    border-style: none;
    box-shadow: 2px 2px 8px 1px #8b8a8a;
    background-color: rgb(217, 219, 243);
    cursor: pointer;
    color: rgb(71, 71, 248);
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 50%;
    height: 3em;
}

    
    footer{max-width: 160%;
        height: 8em;
        background-color: #000000c9;
        margin-top: 14em;
        margin-bottom: -3em;
        margin-left: -1em;
        margin-right: -2em;
        text-align: center;
        border-top-style: solid;
        border-top-color: rgb(241, 102, 10);
        color: cornsilk;}
        
        .fa-twitter-square, .fa-facebook-square, .fa-hashtag{font-size:  30px;
        position: relative;left: 1em;
        top: 5px;
        margin-right: 5px;
        color: white;
        text-decoration: none;}
        
        .sig{font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        
        .der{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}