.offcanvas-end{
    width: 30vh !important;
}

.nav-item{
    font-size: 14px;
    cursor: pointer;
   
}

.img_logo{
    border-radius: 2em;
}

.nameLogo{
    font-size: 10px;
    font-family:cursive;

    
}

.boxwhite{
    width: 100%;

}
