.box_pilcha{
    max-width: 18rem !important;
    min-width: 18rem !important;
    max-height: max-content !important;
    
    }
    .box_pilcha:hover{box-shadow: 3px 2px 25px #7e7979;}

    .image{width: 100% ;
        flex-wrap: wrap;
       height: 200px ;
    border-radius:  6px;}