.boxCargas{
  background-color: rgba(255,255 , 255) !important;
}

.boxCargasVisu{
  background-color: rgb(223, 226, 228) !important;
}

.spiProd{
width: 3rem; 
height: 3rem;
}

.box_pilcha {
    max-width: 18rem !important;
    min-width: 18rem !important;
    max-height: max-content !important;
    
    }
    .box_pilcha:hover{box-shadow: 3px 2px 25px #7e7979;}

    .image , .img_search{width: 100% ;
        flex-wrap: wrap;
       height: 200px ;
    border-radius:  6px;}


    .box-prod{
        max-width: 15rem !important;
        min-width: 15rem !important;
        max-height: max-content !important;
        
        }

        .box-prod:hover{box-shadow: 3px 2px 25px #080808;}

        .product_search{
            max-height: 70vh !important;
        }
       

        .ver_prod{
            text-decoration: none;
        }

       .tituloUltimas{
        font-size: 6vh !important;
        color: rgba(216, 214, 214, 0.807) !important;
        text-shadow: 1px 1px 3px #080808 !important;
       }

       

       .cardUltimas{
        max-width: 15rem !important;
        min-width: 15rem !important;
        max-height: max-content !important;
        
       }


       .cardUltimas:hover{
        box-shadow: 3px 2px 15px #7e7979;
         cursor: pointer;}

           

         .redes{
            font-size: 24px;
            text-decoration: none !important;
           
         }

          .heart:hover{
            color: rgb(27, 27, 236) !important;
            text-shadow: 1px 1px 8px #8f8e8e;
          }

          .car:hover{
            color: rgb(14, 199, 14) !important;
            text-shadow: 1px 1px 8px #8f8e8e;
          }


         
