#modal {
    border: none;
    overflow: hidden;

}

.fa-circle-xmark {
    color: rgb(114, 110, 110);
    float: right;
    margin: -17px;
    position: relative;
    z-index: 1;
}

.fa-circle-xmark:hover {
    color: red;
}

.titulo {
    font-family: cursive;
    font-size: 29px;
    color: black;
    margin-bottom: .3em;
    padding: .6em;
    text-align: center;

}


.cards {
    display: grid;
    grid-template-columns: repeat(2fr);
    text-align: center;
    justify-content: space-evenly;
    gap: 2em;
    margin: 1em;




}

/*.card_cuo{
    display: grid;
    grid-template-columns: repeat(2fr);
    gap: 2em;
    text-align: center;
  
}*/

.cuote {
    color: green;
    font-size: 13px;
    padding: 5px;


}




