.contenedor{background-color: rgb(251, 246, 252)
    ;max-width: 100%;
    overflow-x: hidden;}
    
    
    
   
 

.img_cont{display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: 3em;
    
   
    
    
}



.box_img  { 
    max-width: 100em;
    border: solid 1px;
    margin-top: 15px;  
    height: 50px;
}


.MinImg ,.MinImg1, .MinImg2 ,.MinImg3 , .MinImg4{
    
    width: 3em;
    height: 50px;
}

.box_color{
    max-width: 100em;
    border: solid 2.8px #2109f1;
    margin-top: 15px;
    height: 50px;
    
    
}

.cont_zoom{
    margin-top: 3em;
    text-align: center;
    grid-column: 2/2;
    grid-row: 1/1;   

}

.box_img__zoom{
   
    width: 90%;
height: 90%;    
}

.image_zoom{
    padding-top: 3em;
    max-width: 90%;
    max-height: 60%;
   
}





.con_Stock{display: flex;
    color: rgb(17, 177, 17);}

.sin_Stock{display:flex;
    color: red;
}
 
.titulo{text-decoration: none;
    color: rgba(0,0,0,.9);
    font-family:  'Ibarra Real Nova', serif;
    
    font-size:  24px ;
}
    .precio_cuotas{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
        .bestprecio{
            font-size: 30px;
            font-weight: 300;
        }
        .off{
            font-size: 16px;
            color: rgb(17, 177, 17);
        }
        
    .cuotas , .int{
        color: rgb(17, 177, 17);
        font-size: 19px;   
    }
        .cards{
            display: flex;
            flex-direction: row;
            gap: 1em;
            flex-wrap: wrap;
        }
     
    .cond_Pago{
        color: rgb(71, 71, 248);
        font-size: 13px;
    }
    .med_pago{
    text-decoration: none;
    list-style-type: none;
}
.med_pago:visited{
    color: rgb(71, 71, 248);
}
      .box_Envios{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
      }

       .envio{
         
            color: rgb(17, 177, 17);
         }
.polit , .form_Env{
    font-size: 13px;
    color: rgb(71, 71, 248);
}

.comp_add{
    margin-top: 13em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.comprar{
    border-radius: 8px;
    box-shadow: 2px 2px 8px 1px #8b8a8a;
    border-style: none;
    background-color: rgb(17, 177, 34);
    cursor: pointer;
    color: #f7f6f4;
    font-size: 2vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 90%;
    height: 3em;
    overflow: hidden;
    white-space: wrap;
    
}

    .add{
        border-radius: 8px;
    border-style: none;
    box-shadow: 2px 2px 8px 1px #8b8a8a;
    background-color: rgb(217, 219, 243);
    cursor: pointer;
    color: rgb(71, 71, 248);
    font-size: 1.7vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 90%;
    height: 3em;
    overflow: hidden;
    text-overflow: none;
    white-space: wrap;
    
}

    
   


        @media (max-width: 1385px) {
            
            header{ position: absolute; top: 3.7em}

            .input{max-width: 7em;}

                      
        }
         

        @media(max-width:1160px) {
                     .sech{position: absolute;right: 0em;;}
                     .fa-search, .input{border-radius: 9px 9px 9px 9px;}

                     .input{max-width: 7em;}


               .brra-cont{max-width: 110%;}
                          
            .logo{position: relative;top: -5em;
            font-size: 24px;}

            header{position: absolute;left: 3px;top: 5em;
            height: 1.6em;}

            .hombre,.mujer, .niña , .niño{font-size: 15px;padding: 3px;}

            .homb, .wom, .g, .ch{font-size: 13px;}

            .fa-home{position: relative;left: 1em;
                font-size:  15px;
                 color: rgb(255, 255, 255);
                text-decoration: none;}  
                 
                 .fa-home:hover{color:greenyellow;}
        

            .desp-hom{position: absolute;left: 1em;}
            .desp-muj{position: absolute;left: 8em;}
            .desp-niña{position: absolute;right: 6em ;}

            
        }

        @media(max-width: 600px){
            .slider-1, .slider-2, .slider-3{
                margin-left: -1px;
                margin-right: -1px;
            }

            .fa-search, .input{border-radius: 9px 9px 9px 9px;}

            .input{max-width: 7em;}
        }