.contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.textFotter{
    list-style-type: none !important;
    text-decoration: none !important;
    color: white;
}

.der{
    font-size: 14px;
}

