.cardCreate{
    width: 18rem;
    margin-top: 2em !important;
    background-color: rgba(60, 68, 86, 0.705) !important;
}

.Login{
    color: azure !important;
    text-decoration-line: none !important;
}

.Login:hover{
text-shadow: 2px 2px 2px #000 !important;
}

.modal-content{
    width: 18rem !important;
    
}
.modal{
    padding-left: 13em !important
}