
 .box_body{
    background-color: rgba(25, 9, 238, 0.829);
    
    
 }

.box_select{
    background-color:rgba(66, 53, 243, 0.685) !important;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 1em;
    

    
}


.box_cargas{
    border-radius: 2em !important;
    background-color:rgb(224, 231, 224) !important ;
   
}

   .form{
    border-radius: 2em !important;
      max-width: 70vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgba(180, 182, 180, 0.486) !important;
    
    
   }


   .form-control , .form-select{
    box-shadow: 1px 1px 2px #a8a8a8;
   }
    

/*;*/

.card__title{
    color: rgb(2, 8, 66);
    text-shadow: 2px 2px 2px #b3b1b1;
    font-family: "Monserrat", serif;
    font-weight:400 ;
   
    
}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }