
 .box_body{
    background-color: rgba(209, 212, 212, 0.548);
    
    
 }

.box_select{
    background-color: rgba(197, 204, 197, 0.705) !important;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 1em;

    
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100vh !important;
    border-radius: 1em;
    background-color: rgba(60, 86, 60, 0.499) !important;
    
}


.card__title{
    color: white;
    text-shadow: 2px 2px 2px #000;
}


